---
import Layout from '../layouts/Layout.astro';
import Banner from "../components/Banner.astro"
import Card from '../components/Card.astro';
---

<Layout title="Prashant Channe">
	<main>
		<Banner />
	</main>
</Layout>